.abamContainer1{
    margin: 1px;
    height: auto;
}
.abamtextContainer1{
	width: auto;
	height: auto;
    margin-right: 0px;
    position: relative;
    overflow: hidden;
}
.abamtextContainer1::after{
	content: '';
    margin: 0px;
    position: absolute;
    display: inline;
    background: red;
    width: 5px;
    height: calc(100% - 4px);
    overflow: hidden;
}
.abamCursor1{
	display: none !important; 
}